<meta property="fb:app_id" content="1521058658143315" />
{{ if eq .IsHome true }}
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:description" content="這個部落格打算聚焦於程式方面的研究，至於其他興趣則是會發佈在 Medium。" />
{{ else }}
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Summary }}⋯" />
{{ end }}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="https://blog.wildsky.cc/favicon/ms-icon-310x310.png" />
<meta property="og:image:width" content="310" />
<meta property="og:image:height" content="310" />

