@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.article-content h2:before,
.article-content h3:before,
.article-content h4:before {
  color: #ddd;
  position: absolute;
  left: -2.5rem;
}

.article-content h2,
.article-content h3,
.article-content h4 {
  font-weight: 600;
  font-family: sans-serif;
  margin: 3rem auto 1.5rem;
  position: relative;
  line-height: 1.75rem;
}

.article-content h2:before { content: 'h2'; }
.article-content h3:before { content: 'h3'; }
.article-content h4:before { content: 'h4'; }

.article-content h2 { font-size: 1.5rem; }
.article-content h3 { font-size: 1.25rem; }
.article-content h4 { font-size: 1.1rem; }

.article-content hr { margin: 24px 0; }

.article-content ul, .article-content ol {
  padding: 0 0 0 2rem;
  margin: 1rem auto 2rem;
}

.article-content ul { list-style-type: disc; }
.article-content ol { list-style-type: decimal; }

.article-content a {
  --tw-text-opacity: 1;
  color: rgba(185, 28, 28, var(--tw-text-opacity));
  word-break: break-all;
}

.article-content a:hover {
  --tw-text-opacity: .75;
  text-decoration: underline;
}

.article-content p {
  margin-bottom: 32px;
}

.article-content pre {
  overflow-x: auto;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 6px 6px;
  margin: 12px 0 16px;
}

.article-content code {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 1px 4px;
  border-radius: 2px;
  color: #777;
  font-weight: 300;
  font-family: monospace;
  word-break: break-word;
}

.article-content pre code {
  border: 0;
  background-color: transparent;
  word-break: initial;
}

.article-content blockquote {
  --tw-text-opacity: 1;
  border-left: 5px solid rgba(185, 28, 28, var(--tw-text-opacity));
  padding-left: 18px;
  color: #777;
}

.article-content .wp-block-embed__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-content iframe {
  margin-bottom: 32px;
  max-width: 100%;
  height: 500px;
  position: static !important;
}
