@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

.subtitle .tag,
.subtitle .category {
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 0 5px;
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
  color: #42464c;
  font-size: 12px;
  height: 24px;
  line-height: 16px;
  padding: 2px 10px;
}

.subtitle .tag:hover,
.subtitle .category:hover { border-bottom: 0; }

.subtitle .tag {
  background-color: #f5f7fa;
}

.subtitle .category {
  background-color: #2792db;
  color: #fff;
}

.subtitle .tag:hover { background-color: #dedede; }
.subtitle .category:hover { background-color: #2077b2; }

.content {
  clear: both;
}

.avatar {
  opacity: 0.25;
  float: left;
  margin-right: 20px;
}

.avatar:hover {
  opacity: 0.5;
}

.site-title a {
  color: #42464c;
  font-weight: 200;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  transition-duration: .3s;
}

.site-title a:hover {
  border-bottom: 0;
  color: #222324;
}

.site-subtitle {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 2px;
}

@media screen and (max-width: 450px) {
  .site-title {
    margin-bottom: 1.5rem;
    line-height: 1.75rem;
  }
  .site-title a {
    font-size: 2rem;
  }
  .site-subtitle {
    line-height: 1.25rem;
  }
}


.nav-main {
  border-bottom: 1px solid #ccc;
  display: block;
  text-align: right;
}
.nav-main li {
  display: inline-block;
}
.nav-main a {
  color: #42464c;
  display: block;
  font-size: 12px;
  padding: 10px 0 10px 1rem;
}

.nav-main a:hover {
  color: #222324;
}

article time {
  color: #69707a;
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.125;
  margin-top: -15px;
}

#article_index article time { margin-bottom: 0; }
#article_show article time { margin-bottom: 20px; }

.nav-footer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px;
}
.nav-footer nav {
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 640px) {
  .labels .tag, .labels .category {
    margin-right: 0;
    padding: 0;
    background-color: transparent;
    color: #aaa;
  }
  .labels .tag:hover , .labels .category:hover {
    background-color: transparent;
    color: #777;
  }
  #article_show .title { margin-bottom: 10px; }
  #article_show .labels { margin-bottom: 10px; }
}
