{{ partial "header" . }}
<article itemscope itemtype="http://schema.org/Article">
  <link itemprop="mainEntityOfPage" href="{{ .Permalink }}" />
  <section class="seo-info">
    <meta itemprop="keywords" content="{{ .Params.categories }} {{.Params.categories }}" />
    <img itemprop="image" class="article_featured_image" src="{{ .Site.Params.Image }}" alt="{{ .Title }}">

    {{ if .PublishDate.IsZero }}
      <meta name="datePublished" itemprop="datePublished" content="2014-04-26T12:34:56JST" />
    {{ else }}
      <meta name="datePublished" itemprop="datePublished" content="{{ .PublishDate.Format $.Site.Params.ISO8601 }}" />
    {{ end }}

    {{ if .Page.Lastmod.IsZero }}
      {{ if .Date.IsZero }}
        <meta name="dateModified" itemprop="dateModified" content="2014-04-26T12:34:56JST" />
      {{ else }}
        <time name="dateModified" itemprop="dateModified" content="{{ .Date.Format $.Site.Params.ISO8601 }}"></time>
      {{ end }}
    {{ else }}
      <time name="dateModified" itemprop="dateModified" content="{{ .Page.Lastmod.Format $.Site.Params.ISO8601 }}"></time>
    {{ end }}

    <meta name="author" itemprop="author" content="{{ .Site.Params.Author }}" />

    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization" style="display:none;">
      <span itemprop="name">{{ .Site.Params.Author }}</span>
      <meta itemprop="url" content="{{ .Site.Params.Image }}">
      <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <img src="{{ .Site.Params.Image }}"/>
        <meta itemprop="url" content="{{ .Site.Params.Image }}">
        <meta itemprop="width" content="310">
      </div>
    </div>
  </section>

  <section class="section" id="article_show">
    <div class="container">

      {{ if not .Date.IsZero }}
        <time class="is-6">{{ .Date.Format "January 2, 2006" }}</time>
      {{ end }}

      <a href="{{ .Permalink }}" itemprop="url" class="article-title">
        <h1 class="title" itemprop="name headline">{{ .Title }}</h1>
      </a>

      <div class="labels is-6 is-pulled-right">
        {{ if .Params.categories }}
          {{ partial "categories" .Params.categories }}
        {{ end }}
        {{ if .Params.tags }}
          {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>

      <div class="content" itemprop="articleBody">
        {{ .Content }}
      </div>
    </div>
  </section>
</article>
{{ partial "disqus" . }}
{{ partial "footer" . }}
{{ if .Site.Params.Info.adsense }}
  {{ partial "adsense-in-article" . }}
{{ end }}
