{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section taxonomy_show">
  <div class="container">

    <h1 class="title taxonomy_title">含有「{{ .Data.Term }}」的文章</h1>

    {{ range .Data.Pages }}
      <article>
        <time>{{ .Date.Format "January 2, 2006" }}</time>
        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>

        <div class="content">
          {{ .Summary | plainify | safeHTML }}
          {{ if .Truncated }}
          <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
            Read more
            <span class="icon is-small">
              <i class="fa fa-angle-double-right"></i>
            </span>
          </a>
          {{ end }}
        </div>

        <div class="meta">
          <div class="labels is-6 is-pulled-right">
            {{ if .Params.categories }}
              {{ partial "categories" .Params.categories }}
            {{ end }}
            {{ if .Params.tags }}
              {{ partial "tags" .Params.tags }}
            {{ end }}
          </div>
        </div>
      </article>
    {{ end }}

  </div>
</section>
{{ partial "footer" . }}

