@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

.content { clear: both; }

.avatar {
  opacity: 0.5;
  float: left;
  margin-right: 20px;
  transition-duration: .5s;

  &:hover { opacity: 1; }
}

.site-title a {
  color: #42464c;
  font-weight: 200;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  transition-duration: .3s;

  &:hover {
    border-bottom: 0;
    color: #222324;
  }
}

.site-subtitle {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 2px;
}

@media screen and (max-width: 450px) {
  .site-title {
    margin-bottom: 1.5rem;
    line-height: 1.75rem;

    a { font-size: 2rem; }
  }
  .site-subtitle { line-height: 1.25rem; }
}


.nav-main {
  border-bottom: 1px solid #ccc;
  display: block;
  text-align: right;
  li { display: inline-block; }
  a {
    color: #42464c;
    display: block;
    font-size: 12px;
    padding: 10px 0 10px 1rem;

    &:hover { color: #222324; }
  }
}

.nav-footer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px;

  nav {
    margin: 0 auto;
    padding: 10px;
  }
}


.labels {
  text-align: right;

  .tag, .category {
    border-radius: 5px;
    vertical-align: middle;
    margin: 0;
    display: inline-flex;
    align-items: center;
    color: #42464c;
    font-size: 12px;
    height: 24px;
    line-height: 16px;
    padding: 2px;

    &:hover {
      border-bottom: 0;
      color: #777;
    }

    i {
      color: #aaa;
      font-size: .75em;
      margin-top: 2px;
    }
  }

  .tag {
    background-color: transparent;
    &:hover { background-color: transparent; }

    i { margin-right: 2px; }
  }
  .category {
    background-color: transparent;
    &:hover { background-color: transparent; }

    i { margin-right: 3px; }
  }
}
