.labels {
  .tag, .category {
    margin: 0 0 5px;
    margin-right: 6px;
    padding: 2px 10px;
  }

  .tag {
    background-color: #f5f7fa;
    &:hover { background-color: #dedede; }
  }
  .category {
    background-color: #2792db;
    color: #fff;
    &:hover { background-color: #2077b2; }
  }
}

@media screen and (max-width: 640px) {
  .labels .tag, .labels .category {
    margin-right: 0;
    padding: 0;
    background-color: transparent;
    color: #aaa;
  }
  .labels .tag:hover , .labels .category:hover {
    background-color: transparent;
    color: #777;
  }
  #article_show .title { margin-bottom: 10px; }
  #article_show .labels { margin-bottom: 10px; }
}

