<% pages = sitemap.resources.find_all{|p| p.source_file.match(/posts\/.*\.html/)} %>
<% pages.each_with_index do |p, index| %>
  <% if p.url == current_page.url %>
    <% next_page = pages[index+1]  %>
    <% prev_page = pages[index-1] %>

    <div class="switch">

      <div class="pre">
        <%= link_to("《 上一頁", prev_page) unless index == 1 %>
      </div>
       ☺
      <div class="next">
        <%= link_to("下一頁 》", next_page) unless index == pages.size - 1 %>
      </div>

    </div>

  <% end %>
<% end %>
<div id="disqus_thread"></div>
<noscript>請啟用 JavaScript 以便開啟 <a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus</a> 的留言功能！</noscript>

