---
import dayjs from 'dayjs'

const { feature_image_url, date, title, content, ...props } = Astro.props

const publish_time = dayjs(date).format('YYYY 年 MM 月 DD 日')
---

<article class='px-4 lg:px-0 py-16' {...props}>
  <header>
    <h1
      class='text-3xl font-bold mb-4 text-skadiWhite-300'
      set:html={title}
    />
    {
      date && (
        <p class='text-lg text-skadiWhite-300 mb-4'>
          Posted on <time dateTime={date}>{publish_time}</time>
        </p>
      )
    }
  </header>
  {
    feature_image_url && (
      <img
        src={feature_image_url.includes('https://') ? feature_image_url : `/images/${feature_image_url}`}
        alt=''
        width='750'
        height='410'
      />
    )
  }
  <div
    class='article-content leading-8 text-lg text-skadiWhite-300 mt-8 text-lg pb-4'
    set:html={content.replace(/href="https:\/\/backend\.wildsky\.cc/g, 'href="https://blog.wildsky.cc')}
  />
</article>
