---
---

<div class='flex mt-[20px] gap-[40px] w-[400px] max-w-[80%] h-[50px] justify-center items-center'>
  <div class='divider' />

  <div
    class='i-ri:anchor-line'
    style={{
      width: '48px',
      color: '#f25763',
      filter: 'drop-shadow(1px 1px 5px #BA312D)'
    }}
  />

  <div class='divider' />
</div>

<style>
  .divider {
    width: 320px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #e0515c;
    filter: drop-shadow(1px 1px 5px #BA312D);
  }
</style>
