---
import Link from './Link.astro'
const { props } = Astro
---

<Link {...props}>
  <div>
    <slot />
  </div>
</Link>

<style>
  div {
    color: #ded8e3;
    text-shadow: 1px 1px 5px #6EB0B2;
    transition-duration: .3s;
  }

  div:hover {
    color: #fff;
    text-shadow: 1px 1px 5px #fff7dc;
  }
</style>
