{{ if (not (in (printf "%#v" .Site.BaseURL) "localhost")) }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (function(){
    var $last_title = document.querySelector('h2:last-of-type');
    var $adunit = document.createElement('INS');

    if (!$last_title) return;
    $adunit.classList.add('adsbygoogle');
    $adunit.style.display = 'block';
    $adunit.style.textAlign = 'center';
    $adunit.setAttribute('data-ad-layout', 'in-article');
    $adunit.setAttribute('data-ad-format', 'fluid');
    $adunit.setAttribute('data-ad-client', 'ca-pub-3794486350703076');
    $adunit.setAttribute('data-ad-slot', '9479269239');
    $last_title.before($adunit);

    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: 'ca-pub-3794486350703076' //,
      // enable_page_level_ads: true
    });
  })();
</script>
{{ else }}
<!-- adsense is not work on localhost -->
{{ end }}
