<div class="container">
  <div class="breadcrumb">
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{ $.Scratch.Add "path" .Site.BaseURL }}
    {{ $.Scratch.Add "currentURL" .URL }}
    {{ $pageNotFound := (eq (replace $.Site.BaseURL .Site.BaseURL "404.html") .URL) }}
    <ul itemscope itemtype="http://schema.org/BreadcrumbList">
      {{ if eq .IsHome true }}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemtype="http://schema.org/Thing" itemprop="item">
            <span itemprop="name">首頁<span>
          </span>
          <meta itemprop="position" content="1" />
        </li>
      {{ else }}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemtype="http://schema.org/Thing" itemprop="item" href="{{ .Site.BaseURL }}">
            <span itemprop="name">首頁<span>
          </a>
          {{ if not (eq .URL "/")  }} &raquo;{{ end }}
          <meta itemprop="position" content="1" />
        </li>
      {{ end }}

      {{ range $index, $element := split $url "/" }}
        {{ $.Scratch.Add "path" $element }}
        {{ $.Scratch.Add "path" "/" }}
        <!-- Check if the current list item is the last one -->
        {{ $isLast := eq ($.Scratch.Get "path") $.Permalink }}

        {{ if ne $element "" }}
          {{ if and (not $isLast) (not $pageNotFound) }}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemtype="http://schema.org/Thing" itemprop="item" href='{{ $.Scratch.Get "path" }}'>
                <span itemprop="name">{{ title ( replace . "-" " ") }}<span>
              </a> &raquo;
              <meta itemprop="position" content="{{ add $index 2 }}" />
            </li>
          {{ else if $pageNotFound }}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              404
            </li>
          {{ else }}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <span itemtype="http://schema.org/Thing" itemprop="item" content='{{ $.Scratch.Get "path" }}'>
                <span itemprop="name">{{ $.Title }}<span>
              </span>
              <meta itemprop="position" content="{{ add $index 2 }}" />
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
