<div class="container">
  <div class="nav-main">
    {{- if .Site.Menus.main -}}
      <ul>
        {{ range .Site.Menus.main }}
          <li> <a class="nav-item" href="{{ .URL }}">{{ .Name }}</a> </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="avatar" for="site-title">
      <a href="{{ .Site.BaseURL }}">
        <img src="/favicon/ms-icon-70x70.png" alt="avatar">
      </a>
    </div>
    <h1 class="title site-title" id="site-title">
      <a href="{{ .Site.BaseURL }}">
          {{ .Site.Title }}
      </a>
    </h1>
    <p class="site-subtitle subtitle">
      {{ .Site.Params.subtitle }}
    </p>
  </div>
</section>
