{{ partial "header" . }}
<section class="section taxonomy_index" id="tag_index">
  <div class="container">

    <h1 class="title">目前站上的標籤有 {{ len .Data.Terms }} 個</h1>

    {{ $data := .Data }}
    {{ range .Data.Terms.ByCount }}
      {{ $termLink := printf "/%s/%s/" $data.Plural .Term | urlize }}
      <div class="list">
        <h2 class="subtitle">
          <a href="{{ $termLink }}">
            <i class="fas fa-tag"></i>{{ .Term }}
          </a>
          有{{ .Count }}篇
        </h2>

        <ul>
          {{ range .Pages | first 5 }}
            <li class="fas fa-align-right">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
          {{ if gt (len .Pages) 5 }}
            <li class="fas fa-align-right">
              <a href="{{ $termLink }}">……</a>
            </li>
          {{ end }}
          </li>
        </ul>
      </div>
    {{ end }}

  </div>
</section>
{{ partial "footer" . }}
