@import url('prismjs/themes/prism-okaidia.css');
@import url("@fontsource/noto-serif-tc/200.css");
@import url("@fontsource/noto-serif-tc/300.css");
@import url("@fontsource/noto-serif-tc/400.css");
@import url("@fontsource/noto-serif-tc/500.css");
@import url("@fontsource/noto-serif-tc/600.css");
@import url("@fontsource/noto-serif-tc/900.css");

@import url("@fontsource/noto-sans-tc/400.css");
@import url("@fontsource/noto-sans-tc/700.css");

@import url('tailwindcss/tailwind.css');

html, body {
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  background: linear-gradient(to left, #2c4647, #003366);
  background-attachment: fixed;
}

::selection {
  color: #d6cfdc;
  background-color: rgba(186, 49, 45, 0.7);
}

.article-content {
  color: #e5e5e5;
  font-family: 'Noto Sans TC', sans-serif;
}

.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5 {
  letter-spacing: 0.01em;
  font-family: 'Noto Serif TC', serif;
  font-weight: 700;
  margin: 3rem auto 1.5rem;
  position: relative;
  color: #fff;
}

.article-content h2:before,
.article-content h3:before,
.article-content h4:before,
.article-content h5:before {
  color: #888;
  position: absolute;
  left: -2.5rem;
}

.article-content h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.article-content h2:before { content: 'h2'; }
.article-content h3:before { content: 'h3'; }
.article-content h4:before { content: 'h4'; }
.article-content h5:before { content: 'h5'; }

.article-content h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.article-content h4 {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.article-content ul,
.article-content ol {
  padding: 0 0 0 2rem;
  margin: 1rem auto 2rem;
}

.article-content ul {
  list-style-type: disc;
}

.article-content ol {
  list-style-type: number;
}

.article-content mark {
  display: inline-block;
  padding: 3px 7px;
  text-shadow: 1px 1px 7px #6EB0B2;
  background: #08284D;
  color: #fff;
}

.article-content strong {
  padding: 0 4px;
  font-weight: 700;
}

.article-content em {
  font-style: normal;
  text-decoration: underline dotted;
}

.article-content a {
  --tw-text-opacity: 1;
  color: #e0515c;
  word-break: break-all;
  text-decoration: underline;
}

.article-content a:hover {
  color: #f25763;
}

.article-content p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.article-content p code {
  font-size: 14px;
  font-family: monospace;
  border: 1px solid #ddd;
  background: #272822;
  color: #fff;
  padding: 0 2px;
  border-radius: 3px;
  line-height: 1.25em;
  display: inline-block;
  transform: translateY(-3px);
}

.article-content pre {
  font-family: monospace;
  font-size: 14px;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 6px 6px;
  margin: 12px 0 16px;
  background: #272822;
  letter-spacing: unset;
}

.article-content pre:not([class]) {
  line-height: 1.5;
  color: #fff;
  background: #272822;
}

.article-content blockquote {
  border-left: 4px solid #ddd;
  padding-left: 12px;
}

.article-content .wp-block-embed__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-content table {
  min-width: 50%;
  background: rgba(0,0,0,0.25);
  margin: 20px auto 30px;
}
.article-content table td {
  padding: 5px 10px;
}

.article-content img {
  margin-bottom: 32px;
}

.article-content iframe {
  margin-bottom: 32px;
  max-width: 100%;
  height: 500px;
  position: static !important;
}

