@import url('prismjs/themes/prism-okaidia.css');
@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    nord --default,
    dim --prefersdark;
}

.page-container {
  @apply bg-base-200;

  font-family: source-serif-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-weight: 400;
}

/*
::selection {
  color: #343434;
  background-color: rgba(186, 49, 45, 0.2);
}
 */

.article-content {
  @apply text-base-content/80 text-[18px] lg:text-[20px];

  font-weight: 400;
  letter-spacing: 0.5px;
}

article h1 {
  @apply text-[28px] lg:text-[42px];
  font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5 {
  letter-spacing: 1.2px;
  font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 3rem auto 1.5rem;
  position: relative;
}

.article-content h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.article-content h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.article-content h4 {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.article-content ul,
.article-content ol {
  padding: 0 0 0 2rem;
  margin: 1rem auto 2rem;
}

.article-content ul {
  list-style-type: disc;
}

.article-content ol {
  list-style-type: number;
}

.article-content mark {
  display: inline-block;
  padding: 3px 7px;
  background: #fff6b3;
}

.article-content strong {
  padding: 0 4px;
  font-weight: 700;
}

.article-content em {
  font-style: normal;
  text-decoration: underline dotted;
}

.article-content a {
  @apply link;
}

.article-content p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.article-content p code {
  font-size: 14px;
  font-family: monospace;
  border: 1px solid #ddd;
  background: #eee;
  color: #777;
  padding: 2px 4px;
  border-radius: 3px;
  line-height: 1.25em;
  display: inline-block;
}

.article-content pre {
  font-family: source-code-pro, Menlo, Monaco, 'Courier New', Courier, monospace;
  font-size: 14px;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 6px 6px;
  margin: 12px 0 16px;
  background: #272822;
  letter-spacing: 0;
}

.article-content pre:not([class]) {
  line-height: 1.5;
  background: #272822;
}

.article-content blockquote {
  border-left: 4px solid #ddd;
  padding-left: 12px;
}

.article-content .wp-block-embed__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-content table {
  min-width: 50%;
  background: rgba(0, 0, 0, 0.25);
  margin: 20px auto 30px;
}
.article-content table td {
  padding: 5px 10px;
}

.article-content img {
  @apply w-full;

  margin-bottom: 32px;
}

.article-content iframe {
  margin-bottom: 32px;
  max-width: 100%;
  height: 500px;
  position: static !important;
}
