---
title: Wildlog
---

<!--
<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->

<h1>Wildlog</h1>
<p>Here will be my new blog, my current blog is at <a href="https://wildsky.cc">wildsky.cc</a>.</p>
