{{ $about     := .Site.GetPage "/about" }}
{{ $subscribe := .Site.GetPage "/subscribe" }}
{{ $fedora    := .Site.GetPage "/fedora" }}

{{ $pages := slice $about $subscribe $fedora }}
{{ $posts := where $.Site.Pages "Type" "posts" }}
{{ $tags := where $.Site.Pages "Type" "tags" }}
{{ $categories := where $.Site.Pages "Type" "categories" }}


<script type="text/javascript">
  (function(){
    let all_items = [

      {{ range $pages }}
        {
          title: "{{ .Title }}",
          content: `{{ .Content | htmlEscape }}`,
          path: "{{ .Permalink }}",
          type: "{{ .Type }}"
        },
      {{ end }}

      {{ range $posts }}
        {{ if ne .Title "Posts" }}
          {
            title: "{{ .Title | safeHTML }}",
            content: `{{ .Content | htmlEscape }}`,
            path: "{{ .Permalink | safeHTML }}",
            taxonomy: "{{ delimit (union .Params.tags .Params.categories) ", " }}",
            type: "{{ .Type }}"
          },
        {{ end }}
      {{ end }}

      {{ range $tags }}
        {
          title: "{{ .Title | safeHTML }}",
          path: "{{ .Permalink | safeHTML }}",
          type: "{{ .Type }}"
        },
      {{ end }}

      {{ $len := len $categories }}
      {{ range $i, $e := $categories }}
        {{ $last := sub $len 1 }}

        {{ with $e }}
        {
          title: "{{ .Title | safeHTML }}",
          path: "{{ .Permalink | safeHTML }}",
          type: "{{ .Type }}"
        }
        {{ end }}

        {{ if ne (sub $len 1) $i }},{{ end }}
      {{ end }}
    ];

    let renderlineitem = obj => `<li><a href="${obj.path}">${obj.title}</a></li>`;
    let escapeRegExp   = text => text.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, '\\$&');

    let renderlist = function(list, matched_attr){
      let $article_list = document.querySelector(`#${matched_attr}_article_list`);

      $article_list.innerHTML = list.map(renderlineitem).join('');
    };

    let $search = document.querySelector('#search');
    $search.addEventListener('keyup', function(evt){
      let query = $search.value;
      let pattern = new RegExp(escapeRegExp(query));

      if (!query) {
        renderlist(all_items, 'all');
        return false;
      }

      renderlist([], 'all');

      let title_matched_list = all_items.filter(item => pattern.test(item.title));
      renderlist(title_matched_list, 'title');

      let taxonomy_matched_list = all_items.filter(item =>
        !title_matched_list.map(a=>a.title).includes(item.title) && pattern.test(item.taxonomy));
      renderlist(taxonomy_matched_list, 'taxonomy');

      let content_matched_list = all_items.filter(item =>
        !title_matched_list.map(a=>a.title).includes(item.title) &&
        !taxonomy_matched_list.map(a=>a.title).includes(item.title) &&
        pattern.test(item.content));
      renderlist(content_matched_list, 'content');
    });

    renderlist(all_items, 'all');

  })()
</script>



